SUPABASE_URL="postgresql://postgres.rsecaokvnhifhymjqxwf:Smart15game!@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzZWNhb2t2bmhpZmh5bWpxeHdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc0NDU5MDQsImV4cCI6MjA0MzAyMTkwNH0.kdbbNARgG-rGK-fGx9FVvuI_igr9YSQRtUaESKjq-yY"